h1,p{
    font-family:"Courier New";
    color: limegreen;
}


h1{
    font-size:60px;
}


p{
    font-size:40px
}

body{

}

.horizontalnav ul{
    font-size: 40px;
    list-style-type: none;
    background-color: #007200;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    font-family:"Courier New";
}

.horizontalnav a{
    background-color: #007200;
    padding: 15px;
    display: block;
    text-align: center;
    list-style-type:none;
    color:white;
    text-decoration: none;
}

.horizontalnav a:hover{
    background-color: #004f00;
}

.navbar li{
    float: left;
}

/*.verticalnav{
    font-family:"Courier New";
    color: limegreen;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 40px;
    I'm trying to get it evenly to the Misc. bar but I have entirely NO idea what I'm doing
}

.item-5{
    border-style:solid;
}

.item-6{
    border-style:solid;
}

.item-7{
    border-style:solid;
}

.item-8{
    border-style:solid;
}

.item-9{
    border-style:solid;
}

I tried adding a misc something similar to my Figma so I decided to convert all of this into a comment command, I should be able to find a solution but I got some other things to focus on so I'll come back to this later.

*/
.resume{
    font-size: 25px;
    color: limegreen;
    font-family:"Courier New"
}